<h1 class="d-flex justify-content-center">
    <%= @album.title %>
</h1>
<h5 class="d-flex justify-content-center mb-5">
    <%= @album.body %> 
    &nbsp &nbsp
    #{<%= @album.all_tags %>}
</h5>


<div class="row">

    <% (0...@album.images.count).each do |image| %>

    <div class="col-sm-12 col-md-4 d-flex justify-content-around mb-5">
        <div class="card" style="width: 18rem;">

            <%= image_tag (@album.images[image]), class: "card-img-top img-fluid m-auto"%>

        </div>
    </div>

    <% end %>

</div>